<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<ThumbIcon>{{{thumbicon}}}</ThumbIcon>
	<BigThumbIcon>{{{bigthumbicon}}}</BigThumbIcon>
	<ListIcon>{{{listicon}}}</ListIcon>
	<BigListIcon>{{{biglisticon}}}</BigListIcon>

	<category>{{category}}</category>
	<autoUpdate>y</autoUpdate>

	<ver>{{version}}</ver>
	
	<fullwidget>y</fullwidget>
	<srcctl>y</srcctl>
	<ticker>n</ticker>
	<childlock>n</childlock>
	<audiomute>n</audiomute>
	<videomute>n</videomute>
	<dcont>y</dcont>
	<movie>n</movie>

	<widgetname>{{name}}</widgetname>
	<description>{{& description}}</description>

	<mouse>y</mouse>
	
	<width>{{resWidth}}</width>
	<height>{{resHeight}}</height>
	
	{{{manualConfData}}}

	<author>
		<name>{{& authorName}}</name>
		<email>{{& authorEmail}}</email>
		<link>{{& authorHref}}</link>
		<organization>{{authorOrganization}}</organization>
	</author>
</widget>
